name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * 8-12 1"
    - cron: "0 0 * 1 1"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux
          tags: ghcr.io/akeaswaran/${{ github.repository }}:latest
          push: true
          secrets: |
            "CFBD_API_KEY=${{ secrets.CFBD_API_KEY }}"
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GP_TRIGGER_TOKEN }}
          repository: saiemgilani/game-on-paper-app
          event-type: deploy
          client-payload: '{"ref": "main"}'
